# **MERCADONA TRANSFORM FyV**

## **Importar librerías**

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd

## **Cargar datos**

### **Productos**

In [2]:
# dataframes de "frutas", "ensaladas" y "verduras"
fruta = pd.read_csv('../../data/scraping/frutas.csv')

ensalada = pd.read_csv('../../data/scraping/ensaladas.csv')

verdura = pd.read_csv('../../data/scraping/verduras.csv')

### **Subcategorías**

In [3]:
# dataframes de subcategorias de "Fruta y verdura"
sub_fruta = pd.read_csv('../../data/scraping/sub_frutas.csv')

sub_ensalada = pd.read_csv('../../data/scraping/sub_ensaladas.csv')

sub_verdura = pd.read_csv('../../data/scraping/sub_verduras.csv')

### **Categoría**

In [4]:
# dataframe de categoría "Fruta y verdura"
cat_fyv = pd.read_csv('../../data/scraping/cat_fruta_verdura.csv')

## **Transformar**

### **Categoría FyV**

In [5]:
cat_fyv

         categoria
0  Fruta y verdura

In [6]:
# crear e insertar columna de IDs llamada "categoria_id", para realizar la correspondiente relación en la base de datos como "PRIMARY KEYS"
cat_fyv.insert(0, 'categoria_id', range(1, len(cat_fyv)+1))

cat_fyv

   categoria_id        categoria
0             1  Fruta y verdura

### **Subcategorías FyV**

In [7]:
sub_fruta

  subcategoria
0        Fruta

In [8]:
sub_ensalada

                   subcategoria
0  Lechuga y ensalada preparada

In [9]:
sub_verdura

  subcategoria
0      Verdura

In [10]:
# crear tabla conjunta con todas las subcategorías
sub_fyv = pd.concat([sub_fruta, sub_ensalada, sub_verdura])

#resetear índice
sub_fyv = sub_fyv.reset_index(drop=True)

sub_fyv

                   subcategoria
0                         Fruta
1  Lechuga y ensalada preparada
2                       Verdura

In [11]:
# crear e insertar la columna de IDs "categoria_id", para realizar la correspondiente relación en la base de datos como "FOREIGN KEYS"
sub_fyv['categoria_id'] = 1

sub_fyv

                   subcategoria  categoria_id
0                         Fruta             1
1  Lechuga y ensalada preparada             1
2                       Verdura             1

In [12]:
# crear e insertar columna de IDs llamada "subcategoria_id", para realizar la correspondiente relación en la base de datos como "PRIMARY KEYS"
sub_fyv.insert(0, 'subcategoria_id', range(1, len(sub_fyv)+1))

sub_fyv

   subcategoria_id                  subcategoria  categoria_id
0                1                         Fruta             1
1                2  Lechuga y ensalada preparada             1
2                3                       Verdura             1

### **Productos FyV**

In [13]:
fruta

                         producto                   formato  precio
0             Plátano de Canarias        Pieza 160 g aprox.  0,30 €
1                          Banana        Pieza 170 g aprox.  0,25 €
2                   Plátano macho        Pieza 340 g aprox.  0,95 €
3         Uva blanca sin semillas      Bandeja 500 g aprox.  2,45 €
4           Uva roja sin semillas      Bandeja 500 g aprox.  2,40 €
5                  Manzana Golden        Pieza 190 g aprox.  0,40 €
6                 Manzanas Golden       Bolsa 1,5 kg aprox.  2,69 €
7                Pera Conferencia        Pieza 140 g aprox.  0,32 €
8               Peras Conferencia             1,5 kg aprox.  2,69 €
9                   Pera Ercolina         Pieza 90 g aprox.  0,28 €
10           Manzana Granny Smith        Pieza 230 g aprox.  0,42 €
11                  Manzana Story        Pieza 170 g aprox.  0,34 €
12           Manzana Crimson Snow        Pieza 200 g aprox.  0,48 €
13          Manzanas Crimson Snow       Bolsa 1,5 kg aprox.  2,99 €
14    1/4 Sandía baja en semillas   1/4 Pieza 1,5 kg aprox.  1,49 €
15  Media sandía baja en semillas  1/2 Pieza 2,66 kg aprox.  2,63 €
16        Sandía baja en semillas      Pieza 5,66 kg aprox.  5,04 €
17       Medio melón piel de sapo  1/2 Pieza 1,57 kg aprox.  2,18 €
18             Melón piel de sapo      Pieza 3,23 kg aprox.  4,17 €
19                        Limones                Malla 1 kg  2,19 €
20                          Limón        Pieza 200 g aprox.  0,48 €
21              Naranja para mesa        Pieza 390 g aprox.  0,68 €
22                       Naranjas                Malla 3 kg  4,35 €
23                       Naranjas                Malla 5 kg  6,25 €
24                         Pomelo        Pieza 360 g aprox.  0,97 €
25                          Limas              400 g aprox.  2,00 €
26                Kiwis amarillos              500 g aprox.  3,20 €
27                     Kiwi verde        Pieza 110 g aprox.  0,33 €
28                   Kiwis verdes               1 kg aprox.  2,88 €
29                       Aguacate        Pieza 180 g aprox.  0,68 €
30                      Aguacates              550 g aprox.  2,08 €
31                           Piña      Pieza 1,83 kg aprox.  3,50 €
32                     Media piña    1/2 Pieza 890 g aprox.  1,88 €
33            Guacamole Hacendado             Tarrina 500 g  3,59 €
34            Guacamole Hacendado             Tarrina 200 g  1,75 €
35                          Mango        Pieza 440 g aprox.  1,14 €
36         Piña natural a rodajas         Bote 500 g aprox.  2,68 €
37                         Papaya      Pieza 1,32 kg aprox.  6,34 €
38                   Media papaya    1/2 Pieza 680 g aprox.  3,39 €
39                    Albaricoque              750 g aprox.  2,69 €
40                         Cereza      Bandeja 500 g aprox.  3,40 €
41                         Cereza       Bandeja 1 kg aprox.  5,99 €
42                         Fresas      Bandeja 500 g aprox.  3,50 €
43                   Ciruela roja         Pieza 90 g aprox.  0,34 €
44                     Frambuesas             Bandeja 170 g  2,19 €
45                          Moras             Bandeja 125 g  1,99 €
46                      Arándanos                Vaso 225 g  2,78 €
47                      Paraguayo        Pieza 130 g aprox.  0,52 €
48         Nectarina pulpa blanca        Pieza 170 g aprox.  0,68 €

In [14]:
# crear e insertar la columna de IDs "subcategoria_id", para realizar la correspondiente relación en la base de datos como "FOREIGN KEYS"
fruta['subcategoria_id'] = 1

fruta

,producto,formato,precio,subcategoria_id
0,Plátano de Canarias,Pieza 160 g aprox.,"0,30 €",1
1,Banana,Pieza 170 g aprox.,"0,25 €",1
2,Plátano macho,Pieza 340 g aprox.,"0,95 €",1
3,Uva blanca sin semillas,Bandeja 500 g aprox.,"2,45 €",1
4,Uva roja sin semillas,Bandeja 500 g aprox.,"2,40 €",1
5,Manzana Golden,Pieza 190 g aprox.,"0,40 €",1
6,Manzanas Golden,"Bolsa 1,5 kg aprox.","2,69 €",1
7,Pera Conferencia,Pieza 140 g aprox.,"0,32 €",1
8,Peras Conferencia,"1,5 kg aprox.","2,69 €",1
9,Pera Ercolina,Pieza 90 g aprox.,"0,28 €",1
10,Manzana Granny Smith,Pieza 230 g aprox.,"0,42 €",1
11,Manzana Story,Pieza 170 g aprox.,"0,34 €",1
12,Manzana Crimson Snow,Pieza 200 g aprox.,"0,48 €",1
13,Manzanas Crimson Snow,"Bolsa 1,5 kg aprox.","2,99 €",1
14,1/4 Sandía baja en semillas,"1/4 Pieza 1,5 kg aprox.","1,49 €",1
15,Media sandía baja en semillas,"1/2 Pieza 2,66 kg aprox.","2,63 €",1
16,Sandía baja en semillas,"Pieza 5,66 kg aprox.","5,04 €",1
17,Medio melón piel de sapo,"1/2 Pieza 1,57 kg aprox.","2,18 €",1
18,Melón piel de sapo,"Pieza 3,23 kg aprox.","4,17 €",1
19,Limones,Malla 1 kg,"2,19 €",1
20,Limón,Pieza 200 g aprox.,"0,48 €",1
21,Naranja para mesa,Pieza 390 g aprox.,"0,68 €",1
22,Naranjas,Malla 3 kg,"4,35 €",1
23,Naranjas,Malla 5 kg,"6,25 €",1
24,Pomelo,Pieza 360 g aprox.,"0,97 €",1
25,Limas,400 g aprox.,"2,00 €",1
26,Kiwis amarillos,500 g aprox.,"3,20 €",1
27,Kiwi verde,Pieza 110 g aprox.,"0,33 €",1
28,Kiwis verdes,1 kg aprox.,"2,88 €",1
29,Aguacate,Pieza 180 g aprox.,"0,68 €",1
30,Aguacates,550 g aprox.,"2,08 €",1
31,Piña,"Pieza 1,83 kg aprox.","3,50 €",1
32,Media piña,1/2 Pieza 890 g aprox.,"1,88 €",1
33,Guacamole Hacendado,Tarrina 500 g,"3,59 €",1
34,Guacamole Hacendado,Tarrina 200 g,"1,75 €",1
35,Mango,Pieza 440 g aprox.,"1,14 €",1
36,Piña natural a rodajas,Bote 500 g aprox.,"2,68 €",1
37,Papaya,"Pieza 1,32 kg aprox.","6,34 €",1
38,Media papaya,1/2 Pieza 680 g aprox.,"3,39 €",1
39,Albaricoque,750 g aprox.,"2,69 €",1
40,Cereza,Bandeja 500 g aprox.,"3,40 €",1
41,Cereza,Bandeja 1 kg aprox.,"5,99 €",1
42,Fresas,Bandeja 500 g aprox.,"3,50 €",1
43,Ciruela roja,Pieza 90 g aprox.,"0,34 €",1
44,Frambuesas,Bandeja 170 g,"2,19 €",1
45,Moras,Bandeja 125 g,"1,99 €",1
46,Arándanos,Vaso 225 g,"2,78 €",1
47,Paraguayo,Pieza 130 g aprox.,"0,52 €",1
48,Nectarina pulpa blanca,Pieza 170 g aprox.,"0,68 €",1

In [15]:
ensalada

                                  producto        formato  precio
0                          Lechuga iceberg    Pieza 1 ud.  1,15 €
1             Ensalada mezcla 4 estaciones  Paquete 250 g  0,72 €
2                  Lechugas corazón romana  Paquete 2 ud.  1,53 €
3           Ensalada mezcla brotes tiernos  Paquete 100 g  1,15 €
4             Canónigos base para ensalada  Paquete 125 g  1,14 €
5       Lechuga iceberg base para ensalada  Paquete 250 g  0,86 €
6                  Ensalada mezcla gourmet  Paquete 175 g  1,02 €
7                      Cogollos de lechuga  Paquete 3 ud.  1,06 €
8                   Lechuga corazón romana  Paquete 1 ud.  1,15 €
9                                 Endibias  Bandeja 450 g  1,55 €
10     Ensalada mezcla brotes tiernos maxi  Paquete 175 g  1,59 €
11            Ensalada mezcla gourmet maxi  Paquete 300 g  1,66 €
12                  Ensalada mezcla tierna  Paquete 150 g  1,20 €
13               Rúcula base para ensalada   Paquete 50 g  0,72 €
14             Cogollos corazón de lechuga  Paquete 6 ud.  1,88 €
15               Ensalada mezcla primavera  Paquete 200 g  0,96 €
16  Ensalada mezcla dúo canónigos y rúcula  Paquete 100 g  1,30 €
17                  Ensalada mezcla fresca  Paquete 200 g  1,11 €
18                      Lechuga hoja roble  Paquete 1 ud.  1,30 €
19      Escarola rizada base para ensalada  Paquete 150 g  1,20 €
20                         Escarola rizada  Paquete 1 ud.  1,54 €
21        Espinaca baby base para ensalada  Paquete 100 g  1,11 €
22                  Lechuga romana cortada  Paquete 200 g  1,15 €
23                          Ensalada César      Bol 210 g  2,29 €
24                     Ensalada California      Bol 192 g  2,29 €
25                             Wraps Texas      Bol 300 g  2,99 €
26                     Ensalada de la casa      Bol 400 g  1,91 €
27                      Ensalada mil islas      Bol 330 g  2,55 €
28                        Ensalada ensatún      Bol 250 g  2,49 €
29                          Ensalada jamón      Bol 215 g  2,49 €
30                       Ensalada de pasta      Bol 250 g  2,49 €
31                 Ensalada queso de cabra      Bol 135 g  2,79 €
32      Ensalada de pasta Listo para Comer      Bol 340 g  4,00 €

In [16]:
# crear e insertar la columna de IDs "subcategoria_id", para realizar la correspondiente relación en la base de datos como "FOREIGN KEYS"
ensalada['subcategoria_id'] = 2

ensalada

,producto,formato,precio,subcategoria_id
0,Lechuga iceberg,Pieza 1 ud.,"1,15 €",2
1,Ensalada mezcla 4 estaciones,Paquete 250 g,"0,72 €",2
2,Lechugas corazón romana,Paquete 2 ud.,"1,53 €",2
3,Ensalada mezcla brotes tiernos,Paquete 100 g,"1,15 €",2
4,Canónigos base para ensalada,Paquete 125 g,"1,14 €",2
5,Lechuga iceberg base para ensalada,Paquete 250 g,"0,86 €",2
6,Ensalada mezcla gourmet,Paquete 175 g,"1,02 €",2
7,Cogollos de lechuga,Paquete 3 ud.,"1,06 €",2
8,Lechuga corazón romana,Paquete 1 ud.,"1,15 €",2
9,Endibias,Bandeja 450 g,"1,55 €",2
10,Ensalada mezcla brotes tiernos maxi,Paquete 175 g,"1,59 €",2
11,Ensalada mezcla gourmet maxi,Paquete 300 g,"1,66 €",2
12,Ensalada mezcla tierna,Paquete 150 g,"1,20 €",2
13,Rúcula base para ensalada,Paquete 50 g,"0,72 €",2
14,Cogollos corazón de lechuga,Paquete 6 ud.,"1,88 €",2
15,Ensalada mezcla primavera,Paquete 200 g,"0,96 €",2
16,Ensalada mezcla dúo canónigos y rúcula,Paquete 100 g,"1,30 €",2
17,Ensalada mezcla fresca,Paquete 200 g,"1,11 €",2
18,Lechuga hoja roble,Paquete 1 ud.,"1,30 €",2
19,Escarola rizada base para ensalada,Paquete 150 g,"1,20 €",2
20,Escarola rizada,Paquete 1 ud.,"1,54 €",2
21,Espinaca baby base para ensalada,Paquete 100 g,"1,11 €",2
22,Lechuga romana cortada,Paquete 200 g,"1,15 €",2
23,Ensalada César,Bol 210 g,"2,29 €",2
24,Ensalada California,Bol 192 g,"2,29 €",2
25,Wraps Texas,Bol 300 g,"2,99 €",2
26,Ensalada de la casa,Bol 400 g,"1,91 €",2
27,Ensalada mil islas,Bol 330 g,"2,55 €",2
28,Ensalada ensatún,Bol 250 g,"2,49 €",2
29,Ensalada jamón,Bol 215 g,"2,49 €",2
30,Ensalada de pasta,Bol 250 g,"2,49 €",2
31,Ensalada queso de cabra,Bol 135 g,"2,79 €",2
32,Ensalada de pasta Listo para Comer,Bol 340 g,"4,00 €",2

In [17]:
verdura

                                producto             formato  precio
0                                 Patata  Pieza 180 g aprox.  0,32 €
1                                Patatas          Malla 3 kg  4,30 €
2                          Patatas rojas          Malla 2 kg  3,65 €
3                                Patatas          Malla 5 kg  6,49 €
4                     Patatas guarnición          Malla 1 kg  2,30 €
..                                   ...                 ...     ...
88    Mix de verduras paisana para micro       Paquete 300 g  1,80 €
89               Sopa juliana para micro       Paquete 400 g  1,35 €
90                     Patata para micro       Paquete 400 g  1,30 €
91                     Batata para micro       Paquete 400 g  2,40 €
92  Mix de verduras jardinera para micro       Paquete 400 g  1,90 €

[93 rows x 3 columns]

In [18]:
# crear e insertar la columna de IDs "subcategoria_id", para realizar la correspondiente relación en la base de datos como "FOREIGN KEYS"
verdura['subcategoria_id'] = 3

verdura

,producto,formato,precio,subcategoria_id
0,Patata,Pieza 180 g aprox.,"0,32 €",3
1,Patatas,Malla 3 kg,"4,30 €",3
2,Patatas rojas,Malla 2 kg,"3,65 €",3
3,Patatas,Malla 5 kg,"6,49 €",3
4,Patatas guarnición,Malla 1 kg,"2,30 €",3
...,...,...,...,...
88,Mix de verduras paisana para micro,Paquete 300 g,"1,80 €",3
89,Sopa juliana para micro,Paquete 400 g,"1,35 €",3
90,Patata para micro,Paquete 400 g,"1,30 €",3
91,Batata para micro,Paquete 400 g,"2,40 €",3
92,Mix de verduras jardinera para micro,Paquete 400 g,"1,90 €",3

In [19]:
# crear tabla conjunta de productos
prod_fyv = pd.concat([fruta, ensalada, verdura])

#resetear índice
prod_fyv = prod_fyv.reset_index(drop=True)

prod_fyv

,producto,formato,precio,subcategoria_id
0,Plátano de Canarias,Pieza 160 g aprox.,"0,30 €",1
1,Banana,Pieza 170 g aprox.,"0,25 €",1
2,Plátano macho,Pieza 340 g aprox.,"0,95 €",1
3,Uva blanca sin semillas,Bandeja 500 g aprox.,"2,45 €",1
4,Uva roja sin semillas,Bandeja 500 g aprox.,"2,40 €",1
...,...,...,...,...
170,Mix de verduras paisana para micro,Paquete 300 g,"1,80 €",3
171,Sopa juliana para micro,Paquete 400 g,"1,35 €",3
172,Patata para micro,Paquete 400 g,"1,30 €",3
173,Batata para micro,Paquete 400 g,"2,40 €",3
174,Mix de verduras jardinera para micro,Paquete 400 g,"1,90 €",3

In [20]:
# crear e insertar la columna de IDs "categoria_id", para realizar la correspondiente relación en la base de datos como "FOREIGN KEYS"
prod_fyv['categoria_id'] = 1

prod_fyv

,producto,formato,precio,subcategoria_id,categoria_id
0,Plátano de Canarias,Pieza 160 g aprox.,"0,30 €",1,1
1,Banana,Pieza 170 g aprox.,"0,25 €",1,1
2,Plátano macho,Pieza 340 g aprox.,"0,95 €",1,1
3,Uva blanca sin semillas,Bandeja 500 g aprox.,"2,45 €",1,1
4,Uva roja sin semillas,Bandeja 500 g aprox.,"2,40 €",1,1
...,...,...,...,...,...
170,Mix de verduras paisana para micro,Paquete 300 g,"1,80 €",3,1
171,Sopa juliana para micro,Paquete 400 g,"1,35 €",3,1
172,Patata para micro,Paquete 400 g,"1,30 €",3,1
173,Batata para micro,Paquete 400 g,"2,40 €",3,1
174,Mix de verduras jardinera para micro,Paquete 400 g,"1,90 €",3,1

In [21]:
# modificar formato de valores de la columna "precio", sustituir "," por ".", "€" por "" y convertir a float
#prod_fyv['precio'] = prod_fyv['precio'].str.replace(',', '.').str.replace('€', '').astype(float)

#prod_fyv

In [22]:
# insertar columna de IDs llamada "producto_id", para realizar la correspondiente relación en la base de datos como "PRIMARY KEYS"
prod_fyv.insert(0, 'producto_id', range(1, len(prod_fyv)+1))

prod_fyv

,producto_id,producto,formato,precio,subcategoria_id,categoria_id
0,1,Plátano de Canarias,Pieza 160 g aprox.,"0,30 €",1,1
1,2,Banana,Pieza 170 g aprox.,"0,25 €",1,1
2,3,Plátano macho,Pieza 340 g aprox.,"0,95 €",1,1
3,4,Uva blanca sin semillas,Bandeja 500 g aprox.,"2,45 €",1,1
4,5,Uva roja sin semillas,Bandeja 500 g aprox.,"2,40 €",1,1
...,...,...,...,...,...,...
170,171,Mix de verduras paisana para micro,Paquete 300 g,"1,80 €",3,1
171,172,Sopa juliana para micro,Paquete 400 g,"1,35 €",3,1
172,173,Patata para micro,Paquete 400 g,"1,30 €",3,1
173,174,Batata para micro,Paquete 400 g,"2,40 €",3,1
174,175,Mix de verduras jardinera para micro,Paquete 400 g,"1,90 €",3,1

## **Exportar tablas**

In [23]:
# exportar tablas limpias y transformadas a ".csv"
cat_fyv.to_csv('../../data/fyv/categorias_fyv.csv', index=False)

sub_fyv.to_csv('../../data/fyv/subcategorias_fyv.csv', index=False)

prod_fyv.to_csv('../../data/fyv/productos_fyv.csv', index=False)