# **VENTA TOTAL predictions.**

## **Importar librerías.**

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd

from prophet import Prophet

In [2]:
cat_fecha_fyv = pd.read_csv('../data/sql/venta_total/categoria/cat_fecha_fyv.csv')

cat_lunes_fyv = pd.read_csv('../data/sql/venta_total/categoria/cat_lunes_fyv.csv')
cat_martes_fyv = pd.read_csv('../data/sql/venta_total/categoria/cat_martes_fyv.csv')
cat_miercoles_fyv = pd.read_csv('../data/sql/venta_total/categoria/cat_miercoles_fyv.csv')
cat_jueves_fyv = pd.read_csv('../data/sql/venta_total/categoria/cat_jueves_fyv.csv')
cat_viernes_fyv = pd.read_csv('../data/sql/venta_total/categoria/cat_viernes_fyv.csv')
cat_sabado_fyv = pd.read_csv('../data/sql/venta_total/categoria/cat_sabado_fyv.csv')

In [3]:
cat_fecha_fyv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        124 non-null    object
 1   dia_semana   124 non-null    object
 2   categoria    124 non-null    object
 3   venta_total  124 non-null    int64
dtypes: int64(1), object(3)
memory usage: 4.0+ KB

In [4]:
cat_fecha_fyv

          fecha dia_semana        categoria  venta_total
0    2023-01-02      lunes  Fruta y verdura         4133
1    2023-01-03     martes  Fruta y verdura         2658
2    2023-01-04  miércoles  Fruta y verdura         3235
3    2023-01-05     jueves  Fruta y verdura         2480
4    2023-01-07     sábado  Fruta y verdura         6360
..          ...        ...              ...          ...
119  2023-05-25     jueves  Fruta y verdura         2592
120  2023-05-26    viernes  Fruta y verdura         4995
121  2023-05-27     sábado  Fruta y verdura         6334
122  2023-05-29      lunes  Fruta y verdura         4238
123  2023-05-30     martes  Fruta y verdura         2464

[124 rows x 4 columns]